.announcement-header{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 4rem;
    
}
.body{
    font-family: 'Mukta' , sans-serif;
}

.announcement-button{
    background-color: red;
    width: 140px;
    
    border-radius: 50px;
    padding-left: 13px;
    padding-top: 2px;
    height: 2rem;
    margin-top: 1rem;
}
.announcement-button p{
    color: #fff;
}

.covid-response{
    color: #fff;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.navbar{
    background-color: rgb(191, 82, 82);
    height: 70px;
    display: flex;
    
}

.logo{
    margin-left: 10%;
    margin-bottom: 1%;
}

.nav-items{
    gap:3rem;
    display: flex;
   
    margin-top: 35px;
    max-height: 30px;
   bottom: 18px;
   margin-right: 14rem;
  position: relative;
   
  
    

}

.nav-items p{
    color: #fff;
}

/* .cart-number{
    bottom: 58px;
    position: relative;

} */

.cart-number{
    position: relative;
    bottom: 43px;
    margin-left: 56px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    
    /* color: black; */
}

.cart-number p{
    color: black;
    font-size: x-small;
    padding-top: 3px;
    text-align: center;
}

.cart-img{
    max-width: 20px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: black; */
}
.cart-container{
    margin-left: 20px;
    width: 50px;
    border-radius: 5px;
    background-color: black;
}



.travel-sea{
    background-image: url(./acme-website-homepage-assets/header.jpg);
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.travel-sea-container{
    padding-left: 15%;
    padding-top: 10%;
}


.description1{
    font-size: 50px;
    font-weight: 500;
    color: #fff;

}

.description1 p span{
    display: block;
}

.description2{
    font-size: 20px;
    color: #fff;
}

.description2 p span{
    display: block;
}


.btn btn-light{
    background-color: none;
}


/* .cart-img{
    margin-top: 20px;
} */

/* .cart-number{
    max-height: 5px;
    margin-right: 15px;
} */



/* 
.cart-cover{

}

.cart-item{
    width: 22px;
    
    left: 50px;
    background-color: #fff;
}

.cart-img{
    margin-right: 12rem;
}

.cart-item p{
margin-left: 12px;
} */

.paragraphs{
    display: flex;
}

.btn custom-btn{
   background-color: aqua;
}


.paragraph-inner p span{
    display: block;
}

/* */


.paragraphs{
   
    justify-content: center;
    gap:11rem;
    padding-top: 3rem;
}

/* .image{

} */

.cards-each{
    background-color: #262323;
    height: 300px;
    border-radius: 5px;
}



.cards{
    padding-top: 2rem;
}

.img-fluid{
    position: relative;
    padding-left: 100px;
    /* display: block;
    left:150px; */
    margin-top: 30px;
    left:90px;
    
    
    
}

.img-fluid :nth-child(2){
    position: relative;
}

.text{
    font-weight: 500;
    color: white;
    text-align: center;
    
}

.text-bold{
    color: white;
    margin-top: 3rem;
    font-weight: 500px;
    font-size: 30px;

}
/* .quantity{
    padding-top: 3rem;
    font-weight: 500px;
} */

.text p span{
    display: block;

}

.text p{
    font-weight: 700;
    font-size: 30px;
}


/* for middle-texts */

.middle-texts{
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 9rem;
    padding-right: 9rem;
}

.middle p span{
    display: block;
}

.middle-row{
    
}




/* for tree */

.travel-tree{
    
    background-image: url(./acme-website-homepage-assets/second-section.jpg);
    height: 480px;
    background-position: center center;
    background-size: cover;
    
}

 .travel-text-second p span{

    display: block  ;
}

.travel-text-first p span{

    display: block  ;
}

.travel-text-first{
    color:white;
    font-weight: 800;
    font-size: 30px;
}

.travel-text-second{
    color: white;
    font-weight: 200;

}


.statement-button{
    width: 170px;
    margin-left: auto;
    margin-right: 0;
}

.travel-tree-container{
    padding-right: 4rem;
    padding-top: 3rem;
}


/* for texts */

.products, .open{
    margin-left: 12rem;
}

.products{
    margin-top: 5rem;
}
/* 
.travel-cards{
    margin-left: 12rem;
    margin-top: 2rem;
    width: 400px;
}

.card-img-top{
    width: 400px;
    left: 330px;
} */


/* for travel-cards */




.travel-cards{
    margin-left: 11rem;
    margin-right: 12rem;
    margin-top: 4rem;
}

.img{
    width: 250px;
    height: 400px;border-radius: 5px;
    object-fit: cover;
}

.desc{
    margin-top: 3rem;
    margin-left: 12rem;
    
}

.black-button{
    margin-top: 2rem;
}
.footer{
    background-color:blue;

    height:500px;
}

/* .travel-cards{
    margin-left:12rem;
    margin-right: 12rem;
    margin-top: 3rem;
} */
/* 
.travel-cards{
   
    margin-right: 12rem;
} */

/* for footer */

.footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;

    
}

.logo-footer{
    width: 150px;
}
.footer-icons{
   
    margin-right: 0;

    
}