.announcement-header{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 4rem;
    
}
.body{
    font-family: 'Mukta' , sans-serif;
}

.announcement-button{
    background-color: red;
    width: 140px;
    
    border-radius: 50px;
    padding-left: 13px;
    padding-top: 2px;
    height: 2rem;
    margin-top: 1rem;
}
.announcement-button p{
    color: #fff;
}

.covid-response{
    color: #fff;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.navbar{
    background-color: rgb(191, 82, 82);
    height: 70px;
    display: flex;
    position: relative;
    
}

.navbars{
    border-radius: 10px;
    display: none;
}

.logo{
    margin-left: 10%;
    margin-bottom: 1%;
}

.nav-items{
    gap:3rem;
    display: flex;   
    
    max-height: 30px;
    /* margin-left: 50rem; */
    padding-right: 4rem;
    /* position: absolute; */
}

.nav-items p{
    color: #fff;
}

/* .cart-number{
    bottom: 58px;
    position: relative;

} */

.cart-number{
    position: relative;
    bottom: 43px;
    margin-left: 56px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    
    /* color: black; */
}

.cart-number p{
    color: black;
    font-size: x-small;
    padding-top: 3px;
    text-align: center;
}

.cart-img{
    max-width: 20px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: black; */
}
.cart-container{
    margin-left: 20px;
    width: 50px;
    border-radius: 5px;
    background-color: black;
}

.hamburger{
    width: 50px;
    border-radius: 20px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    /* visibility: hidden; */
}

.hamburger p{
    color: black;
    padding: 5px;
}

/* for first photo */

.travel-sea{
    background-image: url(./acme-website-homepage-assets/header.jpg);
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.travel-sea-container{
    padding-left: 15%;
    padding-top: 10%;
}


.description1{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.description1 p span{
    display: block;
}

.description2{
    font-size: 20px;
    color: #fff;
}

.description2 p span{
    display: block;
}


/* .shop-btn{
    background-color: none;
} */


/* .cart-img{
    margin-top: 20px;
} */

/* .cart-number{
    max-height: 5px;
    margin-right: 15px;
} */



/* 
.cart-cover{

}

.cart-item{
    width: 22px;
    
    left: 50px;
    background-color: #fff;
}

.cart-img{
    margin-right: 12rem;
}

.cart-item p{
margin-left: 12px;
} */

.paragraphs{
    display: flex;
}

.btn custom-btn{
   background-color: aqua;
}


.paragraph-inner p span{
    display: block;
}

/* */


.paragraphs{
   
    justify-content: center;
    gap:11rem;
    padding-top: 3rem;
}

/* .image{

} */

.cards-each{
    background-color: #262323;
    height: 300px;
    border-radius: 5px;
}



.cards{
    margin-top: 6rem;
}

.img-fluid{
    position: relative;
    padding-left: 100px;
    /* display: block;
    left:150px; */
    margin-top: 30px;
    left:90px;
    
    
    
}

.img-fluid :nth-child(2){
    position: relative;
}

.text{
    font-weight: 500;
    color: white;
    text-align: center;
    
}

.text-bold{
    color: white;
    margin-top: 3rem;
    font-weight: 500px;
    font-size: 30px;

}
/* .quantity{
    padding-top: 3rem;
    font-weight: 500px;
} */

.text p span{
    display: block;

}

.text p{
    font-weight: 700;
    font-size: 30px;
}

.rows-cards{
    gap:1rem;
}

/* for middle-texts */

/* .middle-texts{
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 9rem;
    padding-right: 9rem;
}

.middle p span{
    display: block;
}

.middle-row{
    
} */

.middle-texts {
    
    padding: 20px;
    margin-top: 9rem;
    margin-left: 5rem;
}

.middle-row {
   
    width: 100%;
}

.middle {
   
    text-align: center;
    
    padding: 0 15px;
}


.d-flex > .col {
    margin: 0 10px; 
}

.middle p span{
    display: block;
}






/* for tree */

.travel-tree{
    
    background-image: url(./acme-website-homepage-assets/second-section.jpg);
    height: 480px;
    background-position: center center;
    background-size: cover;
    
}

 .travel-text-second p span{

    display: block  ;
}

.travel-text-first p span{

    display: block  ;
}

.travel-text-first{
    color:white;
    font-weight: 800;
    font-size: 30px;
}

.travel-text-second{
    color: white;
    font-weight: 200;

}


.statement-button{
    width: 170px;
    margin-left: auto;
    margin-right: 0;
}

.travel-tree-container{
    padding-right: 4rem;
    padding-top: 3rem;
}


/* for texts */

.products, .open{
    margin-left: 12rem;
}

.products{
    margin-top: 5rem;
}
/* 
.travel-cards{
    margin-left: 12rem;
    margin-top: 2rem;
    width: 400px;
}

.card-img-top{
    width: 400px;
    left: 330px;
} */


/* for travel-cards */




.image-container {
    text-align: center; 
  }
  .img {
    max-width: 100%; 
    height: auto;
   
  }

  .sale-btn{
position: absolute;
left: 16rem;
top: 0rem;
  }

/* .button-parent{
   position: relative;
} */

.button-parent{
    position: relative;
}

.travel-cards{
    margin-left: 11rem;   
    margin-top: 4rem;
}

.inner-prices{
    display: flex;
    margin-left: 9rem;
    gap:0.5rem;
}


/* .travel-pictures{
    width: 200px;
} */

.img{
    width: 250px;
    height: 400px;border-radius: 5px;
    object-fit: cover;
}

.desc{
    margin-top: 3rem;
    margin-left: 11rem;
    
}

.black-button{
    margin-top: 3rem;
    
}

/* .travel-cards{
    margin-left:12rem;
    margin-right: 12rem;
    margin-top: 3rem;
} */
/* 
.travel-cards{
   
    margin-right: 12rem;
} */

/* for footer */

/* .footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;   
}


.logo-footer{
    width: 150px;
}

.footer-icons{   
    margin-right: 0;    
} */


.shop-image{
    object-fit: cover;
   height: 350px;
    width: 200px;
    right: 20px;
    position: absolute;
    top:6rem;
    right: 34rem;
}

.shop-local{

    margin-top: 3rem;
}

.black-background p span{
    display: block;
}

.black-background{
    background-color: rgb(37, 36, 36);
    color: white;
    width: 700px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.black-background h3{
    padding-top: 3rem;

}

.black-background-texts{
    padding-left: 14rem;
}


/* for footer */

/* 
.footer{
    display: flex;
    background-color: black;
    height: 80px;
    
}

.logo-footer{
    width: 180px;
    padding-left: 5rem;
}

.footer-icons{
    display: flex;
    height: 50px;
    flex-direction: end;
    justify-content: flex-end;
    gap: 1rem;
    width: 100px;
    margin-left: 67rem;
    margin-top: 1rem;
} */

.footer{
   display: flex;
    background-color: black;
    justify-content: space-between;
    height: 100px;
}

.footer-logo{
   width: 130px;
    margin-left: 6rem;
}

.footer-icons {
    margin-right:0px ;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    padding-right: 9rem;
    margin-left: 30px;
}

.footer-icon{
    width: 20px;
}

@media only screen and (max-width: 801px) {
    .nav-items{
        display: none;
    }
     .hamburger{
        visibility: visible;
        display: block;
        /* position: relative;
        z-index:   10; */
    }

    .navbars{
        
        display: block;
    }
  }